body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 3.5;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    line-height: 1;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  #currentDay {
    font-size: 25px;
    font-weight: 10px;
    color: rgb(51, 51, 101);
    margin-bottom: 5px;
  }

 .longer {
    min-width: 400px;
  }

  .event {
   /* border-radius: 1px;
    border-width: 5px;
    border-color: black; */
    background-color: rgb(242, 242, 242);
    opacity: 50%;
    width: 80%;
  }

  .time {
    width: 10%;
  }

 .hide {
    display: none;
  }

  .click-me {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    .event {
      width: 70%;
    }
  }



  /* thead {
    justify-content: space-evenly;
  } */